body{
    padding:0;
    background-color: black;
    color:white;
    display: grid;
    place-content:center;
    font-family: "Consolas";
}

particle{
    display:block;
    position:fixed;
    will-change: transform;
}

main{
    width:100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 4fr;
}
@media screen 
  and (max-device-width: 1200px) {
    main{
        dispaly:flex;
        flex-direction: column;
    } 
}

header h1{
    min-height:10vh;
    text-align: center;
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
form h3{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main .canvas{
    padding:20%;
    box-sizing: border-box;
    image-rendering: pixelated;
    display:grid;
    place-items:center;
}
main .canvas canvas{
    max-height:50vh;
    width: 100%;
}
main form{
    display: flex;
    flex-direction: column;
}
main form label *:last-child{padding-left:1em;}
main form *:is(input, select){
    font-family:inherit;
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    border:none;
    border-radius:.5em;
    margin:.5em;
}
main form *:is(input[type="text"],input[type="number"],input[type="button"], select){
    padding:.5em;
}

select.merge{
    text-align: center;
    margin-bottom:0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor:pointer;
    outline:none;
}
input.merge{
    margin-top:0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-weight: bold;
    cursor:pointer;
    outline:none;
}

#preload{display:none}